<?xml version="1.0"?>
<!--
/**
 * Copyright © Delgraf. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="delgraf" translate="label" sortOrder="9999999">
			<label>Delgraf</label>
		</tab>
		<section id="delgraf_autocopyright" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Auto Copyright</label>
			<tab>delgraf</tab>
			<resource>Delgraf_AutoCopyright::config_delgraf_autocopyright</resource>
			<group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
				<field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
					<label>Enable Auto Copyright</label>
					<comment>Updates copyright info with current year. Use "YYYY" placeholder.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
